<h1> This is this </h1>
  <h1> I like riding bicycle</h1>

  <div id="rowery">
    <div id="rower">
      <%=image_tag'jajo1.jpg'%><br>
      <p> Ale to był kolarz </p>
    </div>

    <div id="rower2">
      <img src="asset/images/pantani.jpg" height="800" width="700"alt="jajo"><br>
      <p> A ten przegial z prochami </p>
    </div>
  </div>

  <div id="opis">
<%= link_to 'Home', root_path %>
