<h1> This is this </h1>
<!DOCTYPE html>
<html>
<head>
  <title> Tytułek stronki </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1> I like riding bicycle</h1>

  <div id="rowery">
    <div id="rower">
      <img src="images/jajo1.jpg" height="800" width="700"alt="jajo"><br>
      <p> Ale to był kolarz </p>
    </div>

    <div id="rower2">
      <img src="images/pantani.jpg" height="800" width="700"alt="jajo"><br>
      <p> A ten przegial z prochami </p>
    </div>
  </div>

  <div id="opis">




</html>
<%= link_to 'Jajooooo', pages_about_path %>
