<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">Rub RoR</a>
      by <a href="https://www.onet.com"> onet.pl </a>
    </small>
      <nav>
        <ul>
          <li><%=link_to "About", about_path %></li>
        </ul>
      </nav>
    </footer>
  </div>
